#card_list{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
 }

 #myCard{
    width: 40%;
 }
 
 #myCard:hover{
    background-color:azure;
    cursor: pointer;
 }


 @media screen and (max-width:1000px){
    #card_list{
       flex-direction: column;
    }
    #myCard{
       width: 100%;
    }
    /* table{
       display: none;
    } */
 }